html{
  /*background: rgb(249, 249, 249);*/
  background: rgb(255, 255, 255);
}

.mainNav{
  width: 15%;
}

nav ul{
  list-style-type: none;
  padding-left: 0px;
  height: 40px;
  width: 300px;
  line-height: 40px;
  text-align: center;
}

nav ul li:hover{
  /*background: rgb(239, 126, 160);*/
  /*background: rgb(167, 187, 217);*/
  background: rgb(238, 53, 146);
}
nav ul a{
  color: black;
  text-decoration: none;
}
