@media only screen and (max-width: 769px) {
    html {
        background-color: #393939;
    }
}

body{
  background-image: url('images/roadToSuccess.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
}
